*{
    font-family: Arial;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
}
.btn{
    padding: 15px;
    background-color: teal;
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 1em;
}
.btn:hover{
    box-shadow: 0 0 10px teal;
}
.btn:active{
    transform: translateY(10px);
    box-shadow: 0 0 0px teal;
}

body .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    max-width: 80vw;
    max-height: 80vh;
    background-color: #fff;
    padding: 2em;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
    z-index: 1;
}

body .modal.open{
    opacity: 1;
    transform: translate(-50%,-50%);
    pointer-events: initial;
}
.overlay{
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.overlay.open{
    opacity: 1;
    pointer-events: initial;
    cursor: pointer;
}
.overlay.open:active{
    cursor: grabbing;
}